$calendar-weekly-day-label-font-size:20px;
$calendar-weekly-weekday-font-size:20px;
$calendar-event-font-size:18px;
$calendar-weekly-day-label-margin:10px 10px 10px 10px;
$calendar-event:30px 30px 30px 30px;
// $calendar-weekly-weeknumber-padding-bottom:200px;